@model Songs.Models.ViewModels.SingerPageModel

@{
    ViewBag.Title = "SingerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Model.Name</h2>
    <div>
        @Model.Biography
    </div>
</div>


