@model Songs.Models.SingerPageModel


@{
    ViewBag.Title = "SingerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link href="../../Content/jquery.tag-editor.css" rel="stylesheet" />
    <script src="../../Scripts/jquery.tag-editor.js"></script>
    <script src="../../Scripts/jquery.tag-editor.min.js"></script>
    <script src="../../Scripts/jquery.caret.min.js"></script>


    <div class="container">
        <h2>@Model.Name</h2>
        <div>
            @Model.Biography
        </div>
        <hr />
        <h2>Список песен</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Название песни</th>
                    <th>Количество посмотров</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Songs)
                {
                    <tr>
                        <td><a href="/Song/SongInfo?SongId=@item.Id">@item.Name</a></td>
                        <td>@item.ViewsAmount</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>